/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* CSS RESET END */

body {
  margin: 0px auto;
  padding: 0px;
  width: 100%; max-width: 1100px;
  font-family: 'Kurale', serif;
}
header {
  padding: 70px 40px;
  /*70px*/
  background-image: linear-gradient(180deg, #c3da1c, #b0c519);
  overflow: auto;
  box-sizing: border-box;
  border-bottom: 10px solid #24444c;
}
header > div > h1 {
  color: #f6f6f6;
  float:left;
  font-weight: lighter;
  font-size: 55px;
  padding: 0 auto;
}

.navs {
  float: right;
  color: #f6f6f6;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 30px;
  font-weight: lighter;
  margin: 0px 10px;
  /*margin-top: 70px;*/
  border-radius: 5px;
}
.navSelected {
  background-image: linear-gradient(90deg, #335159, #224047);
}
.navs:hover {
  border-style: solid;
  border-color: white;
  border-width: 4px;
  padding: 6px 16px;
}
.aboutBox {
  background-image: url("../images/aboutbackground.jpg");
  padding: 40px 40px;
  box-sizing: border-box;
}
.aboutBox > h2 {
  margin: 0px;
  font-size: 40px;
  color: #25444d;
  font-weight: lighter;
}
.aboutBox > p, .aboutBox > p > a{
  color: #3e565d;
  width: 660px;
  font-size: 18px;
  margin-top: 30px;
  font-family: 'Open Sans', sans-serif;
  line-height: 30px;
}
.more {
  float:right;
  color: #3e565d;
  font-size: 20px;
  margin-right: 300px;
  font-family: 'Open Sans', sans-serif;
}
.recentWorkBox {
  background-color: #9ca1a4;
  padding: 40px 40px;
  box-sizing: border-box;
}
.recentWorkBox > section {
  overflow: auto;
}
.recentWorkBox > section > h2 {
  margin: 0px;
  color: #f6f6f6;
  font-weight: lighter;
  font-size: 40px;
  float: left;
}
.recentWorkBox > section > a {
  float: right;
  font-size: 30px;
  padding: 10px 20px;
  background-image: linear-gradient(180deg, #c3da1c, #b0c419);
  border-radius: 5px;
  color: #f6f6f6;
  text-decoration: none;
  font-weight: lighter;
  box-sizing: border-box;
}
#seeMore:hover {
  border-style: solid;
  border-color: white;
  border-width: 4px;
  padding: 6px 16px;

}
.workBoxes {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.workPic {
  height: 200px;
  width: 200px;
  border: 4px solid #f6f6f6;
  margin-bottom: 50px;
}
.getInTouchBox {
  background-image: linear-gradient(180deg,#c3da1c, #afc419);
  padding: 40px 40px;
  color: #f6f6f6;
  box-sizing: border-box;
}
.getInTouchBox > h2 {
  margin: 0px;
  font-size: 40px;
  font-weight: lighter;
}
.getInTouchBox > p, .getInTouchBox > p > a {
  color: #f6f6f6;
  font-size: 20px;
  font-weight: lighter;
  margin-top: 25px;
  font-family: 'Open Sans', sans-serif;
}
form {margin-top: 40px;
  overflow: auto;
}
.formTitle {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}
.textInputSmall {
  height: 50px;
  width: 90%;
  border-radius: 4px;
  border-style: none;
  font-size: 20px;
  padding-left: 20px;
  font-family: 'Open Sans', sans-serif;
  margin: 10px 0px;
  display: block;
}
#email {
  margin-top: 25px;
}
.formLeftSide {
  float: left;
  width: 50%;
}
.formRightSide {
  float:right;
  width: 50%;
}
.textInputBig {
  /*width: 490px;*/
  width: 100%;
  height: 158px;
  border-radius: 4px;
  border-style: none;
  display: block;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  margin: 10px 0px;
}
.sendButton {
  display: block;
  float: right;
  font-size: 25px;
  padding: 10px 20px;
  border-radius: 5px;
  color: #f6f6f6;
  border-style: none;
  font-weight: lighter;
  background-image: linear-gradient(180deg, #335159, #223f47);
  margin-top: 15px;
  font-family: 'Kurale', serif;
}
.sendButton:hover {
  border-style: solid;
  border-color: white;
  border-width: 4px;
  padding: 6px 16px;
}
footer {
  padding: 40px auto;
  background-color: #26444c;
  box-sizing: border-box;
}
footer > p {

  text-align: center;
  font-size: 20px;
  color: #f6f6f6;
  font-weight: lighter;
  margin: 0px auto;
  padding-top: 40px;
  font-family: 'Open Sans', sans-serif;
}
.hover-bar {
	display: none;
}
.menuIcon {
	display:none;
	float: right;
	/*background-color: white;*/
	background-image: url("../images/menu-icon-35.png");
	height: 35px;
	width: 35px;
	border: none;
	border-color: none;
	border-style: none;
	background-color: none;
	border-bottom: none;
	/*margin: 10px 10px 0px 0px;*/
}

@media (max-width: 800px){
  header {
		padding: 0px 0px;
		border: none;
		background-image: none;
		box-sizing: content-box;
		border-bottom: none;

  }

	.menuIcon {
		display: block;
		/*Invisible??!*/
	}
	.menuIcon:hover {
		background-image: url("../images/menu-hover-35.png");
	}
  header > div > h1 {
    font-size: 2em;
  }
	.titleAndIcon {
		padding: 30px 35px;
		box-sizing: content-box;
		background-image: linear-gradient(180deg, #c3da1c, #b0c519);
	  overflow: auto;
	  box-sizing: border-box;
		width: 100%;
		/*transition: all 1s;*/
		position: absolute;
		z-index: 2;
	}
	.titleBorder {
		border-bottom: 10px solid #24444c;
		/*transition: all 1s;*/
	}
	.titleNoBorder {
		border-bottom: 0px;
		/*transition: all 1s;*/
	}
	.main-wrapper {
		position:absolute;
		top: 105px;
	}
  nav {
    width: 100%;
    background-color: #24444c;
    padding: 15px 20px;
    box-sizing: border-box;
    /*display:none;*/
		overflow: auto;
		display: flex;
    flex-direction: row-reverse;
    justify-content: center;
		justify-content: space-around;
		overflow: auto;
		position: absolute;
		/*display: none;*/
		z-index: 1;

  }
	.menuUnclicked {
		top: 46px;
		/*transition: all 1s;*/
	}
	.menuClicked {

		top: 117px;
		/*transition: all 1s;*/
	}
	/*.home-wrapper {
		overflow: hidden;
	}*/

  .navs {
		border-width: 0px;
    padding: 4px 0px;
		border-bottom: 1px;
		border-color: none;
		border-style: hidden;
    font-size: 1.3em;
		float: none;
		overflow: auto;
		border-radius: 0px;
  }

  .navSelected {
    background-image: none;
		border-width: 0px;
		border-bottom: 1px;
		border-color: white;
		border-style: solid;
		padding: 4px 0px;

  }
	.navs:hover {
		border-width: 0px;
		border-bottom: 1px;
		border-style: solid;
		border-color: grey;
		padding: 4px 0px;






	}
  .aboutBox {
    padding: 25px 30px;
    box-sizing: border-box;
    overflow: auto;
  }
  .aboutBox > h2 {
    font-size: 1.8em;
  }
  .aboutBox > p, .aboutBox > p > a{
    margin-top: 15px;
    width: 100%;
    font-size: 1em;
    line-height: 35px;
  }

  .aboutBox > p > a {
    font-size: 1em;
  }
  .more {
    margin-right: 0px;
    font-size: 1em;
    padding-top: 20px;
  }
	#seeMore:hover {
	  border-style: solid;
	  border-color: grey;
	  border-width: 2px;
	  padding: 3px 8px;

	}
  .recentWorkBox {
    padding: 25px 30px;
    box-sizing: content-box;
  }
  .recentWorkBox > section {
    overflow: hidden;
  }
  .recentWorkBox > section > h2 {
    font-size: 1.8em;
    padding: 0;
  }
  .recentWorkBox > section > a {
    font-size: 1.3em;
		padding: 5px 10px;
  }
  .workBoxes {
    justify-content: center;
    flex-flow: wrap;
  }
  .workPic {
    margin: 5px 5px;
    height: 130px;
    width: 130px;
  }
  .mobHide {
    display: none;
  }
  .getInTouchBox {
    padding: 25px 30px;

  }
  .getInTouchBox > h2 {
    font-size: 1.8em;
  }
  .getInTouchBox > p, .getInTouchBox > p > a {
    font-size: 1em;
		line-height: 25px;
  }
  .getInTouchBox > p > a {
    font-size: 1em;

  }
  form {
    width: 100%;
    overflow: auto;
  }
  #email {
    margin: 0px;
  }
  .formTitle {
    font-size: 1em;
  }
  .formLeftSide {
    float: none;
    width: 100%;
  }
  .formRightSide {
    float:none;
    width: 100%;

  }
  .textInputSmall {
    width: 96%;
    margin: 0px;
		font-size: 1em;
  }
  .textInputBig {
    width: 98.5%;
    margin: 0px;
  }
  .textInputSmall, .textInputBig {
    margin: 20px 0px;
  }
  .sendButton {
    font-size: 1.3em;
		margin-right: 7px;
		padding: 5px 10px;
  }
	.sendButton:hover {
	  border-style: solid;
	  border-color: grey;
	  border-width: 2px;
	  padding: 3px 8px;


	}
  footer {
    padding:30px 0px;

  }
  footer > p {
    text-align: center;
		padding-top: 0px;
		font-size: 0.7em;

  }
	.navs {

	}
	.navSelected {

	}

	.hover-bar {
		width: 92px;
		height: 1px;
		display: block;
		background-color: white;
		position: absolute;
		left: 80px;
		top: 172px;
	}
	/*footer {
	  padding: 40px auto;
	  background-color: #26444c;
	  box-sizing: border-box;
	}
	footer > p {

	  text-align: center;
	  font-size: 20px;
	  color: #f6f6f6;
	  font-weight: lighter;
	  margin: 0px auto;
	  padding-top: 40px;
	  font-family: 'Open Sans', sans-serif;*/
	/* mobile:
	.navs {
    margin: 0px;
    padding: 0px;
    font-size: 2.3em;
  }
  .navSelected {
    background-image: none;
  }*/
	/*non:*/
	/*header > h1 {
	  color: #f6f6f6;
	  float:left;
	  font-weight: lighter;
	  font-size: 55px;
	  padding: 0 auto;
	}

	.navs {
	  float: right;
	  color: #f6f6f6;
	  text-decoration: none;
	  padding: 10px 20px;
	  font-size: 30px;
	  font-weight: lighter;
	  margin: 0px 10px;
	  /*margin-top: 70px;*/
	  /*border-radius: 5px;
	}
	.navSelected {
	  background-image: linear-gradient(90deg, #335159, #224047);
	}
	.navs:hover {
	  border-style: solid;
	  border-color: white;
	  border-width: 4px;
	  padding: 6px 16px;
	}*/

}
